<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wematch.company.dao.CompanyMapper">
    <select id="getSelectCmId" resultType="java.lang.Integer">
        SELECT MAX(MC_SEQ)
        FROM   MOVING_CENTER
    </select>
    <insert id="insertMovingCenter">
        INSERT INTO MOVING_CENTER (
            MC_NAME
            , MC_OWNER
            , MC_TEL
            , MC_ADDR
            , MC_REGI_NUMBER
            , MC_REGI_DATE
            , MC_EMPL_CNT
            , MC_MATCHING_YN
            , INSERT_DATE
            , USE_YN
        )
        VALUES (
            #{mcName}
            , #{mcOwner}
            , #{mcTel}
            , #{mcAddr}
            , #{mcRegiNumber}
            , #{mcRegiDate}
            , #{mcEmplCnt}
            , 'Y'
            , CURRENT_TIMESTAMP
            , 'Y'
        )
    </insert>
    <insert id="insertMovingCenterCar" >
        INSERT INTO MOVING_CENTER_CAR (
            MC_SEQ
            , MC_CAR_WEIGHT
            , MC_CAR_CNT
        )
        VALUES (
            #{mcSeq}
            , #{mcCarWeight}
            , #{mcCarCnt}
        )
    </insert>
    <resultMap id="movingCenterList" type="com.wematch.company.bean.CompanyDTO">
        <result property="mcSeq" column="MC_SEQ"/>
        <result property="mcName" column="MC_NAME"/>
        <result property="mcOwner" column="MC_OWNER"/>
        <result property="mcTel" column="MC_TEL"/>
        <result property="mcAddr" column="MC_ADDR"/>
        <result property="mcRegiNumber" column="MC_REGI_NUMBER"/>
        <result property="mcRegiDate" column="MC_REGI_DATE"/>
        <result property="mcEmplCnt" column="MC_EMPL_CNT"/>
        <result property="mcMatchingYn" column="MC_MATCHING_YN"/>
        <result property="insertDate" column="INSERT_DATE"/>
        <result property="useYn" column="USE_YN"/>
        <collection property="movingCenterCarList" column="MC_SEQ" select="movingCenterCarList"></collection>
    </resultMap>
    <select id="getMovingCenterList" resultMap="movingCenterList">
        SELECT  MC_SEQ
                , MC_NAME
                , MC_OWNER
                , MC_TEL
                , MC_ADDR
                , MC_REGI_NUMBER
                , date_format(MC_REGI_DATE,'%Y-%m-%d') AS MC_REGI_DATE
                , MC_EMPL_CNT
                , MC_MATCHING_YN
                , date_format(INSERT_DATE,'%Y-%m-%d') AS INSERT_DATE
                , USE_YN
        FROM    MOVING_CENTER
        WHERE   USE_YN = 'Y'
    </select>
    <select id="movingCenterCarList" resultType="java.util.HashMap">
        SELECT MC_CAR_SEQ AS mcCarSeq
               , MC_SEQ   AS mcSeq
               , MC_CAR_WEIGHT AS mcCarWeight
               , MC_CAR_CNT AS mcCarCnt
        FROM   MOVING_CENTER_CAR
        WHERE  MC_SEQ = #{MC_SEQ}
    </select>
</mapper>